<li>
  <div><%= dealership.name %></div>

  <div>
    <a href="/dealerships/<%= dealership.id %>/edit">Edit</a>
  </div>

  <div>
    <a href="/dealerships/<%= dealership.id %>/delete">Delete</a>
  </div>
</li>
